body{
    padding: 20px;
}
button{
    margin-right: 10px;
}
.imgPokemon {
    width: 10rem !important;
    height: 10rem;
    
}
.imgPokemon2{
    width: 10rem;
    height: 10rem;
    margin-left: 7rem !important;
    margin-top: 2rem;
}
.MainCardP{
    height: 10rem !important;
    width: 10rem;
    margin-left: 30rem !important;
}